* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Titillium Web", sans-serif;
}
body {
  background-color: black;
}

  /* =================================== */
  /* ==========*== Mobile ==*=========== */
  /* =================================== */

#navbar {
  display: flex;
  height: fit-content;
  width: 100vw;
  position: fixed;
  top: 0px;
  -webkit-backface-visibility: hidden;
}
#navbar > .mobilenav {
  display: block;
  text-align: center;
  width: 25%;
  height: 24px;
}

p,
h2 {
  margin: 10% auto;
  width: 80%;
  text-align: center;
}

p {
  width: 50%;
  font-size: 1.5em;
}

h1 {
  font-size: 3em;
}

a {
  text-decoration: none;
  color: black;
}

  /* ------------------------------------------ */
  /* ------------- General Things ------------- */
  /* ------------------------------------------ */


  /* ------------- ID's ------------- */

#welcome-section, 
#about, 
#projects, 
#contact {
  width: 100vw;
  min-height: 100vh;
}

#projects,
#contact {
  flex-direction: column;
}

#btnGithub {
  width: 100px;
  background-color: #e85849;
  text-align: center;
  margin-bottom: 25px;
}

  /* ------------- Classes ------------- */

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.column {
  flex-direction: column;
}

.spaceEvenly {
  justify-content: space-evenly;
}

.contactTile {
  margin: 50px;
  width: 500px;
  height: 200px;
  margin: auto;
  background-color: #735872;
}

.project-tile {
  width: 300px;
  height: 550px;
  background-color: #e85849;
  margin: 85px 50px;
}

.shadow {
  box-shadow: 5px 5px 20px rgba(40, 40, 40, 0.3),
    2px 2px 5px rgba(10, 10, 10, 0.4);
}

 /* ------------- Background color classes ------------ */
 /* ------------I should start using ssas :( ---------- */

.red {
  background-color: #e85849;
}
.purple {
  background-color: #735872;
}
.yellow {
  background-color: #f5db98;
}
.cyan {
  background-color: #4bc4ac;
}

/* ==================================== */
/* ==========*== Desktop ==*=========== */
/* ==================================== */

@media (min-width: 600px) {

  #navbar {
    width: 100px;
    height: 200px;
    position: fixed;
    top: 0px;
    left: 0px;
    flex-direction: column;
  }
  #navbar > .mobilenav {
    display: block;
    text-align: center;
    width: 100px;
    height: 24px;
  }

  p,
  h2 {
  margin: 10% auto;
  width: 80%;
  text-align: center;
}
}